<!-- your html code here -->

<div class="container-fluid border-top bg-white">

    <div class="container my-5 py-5">

        <!--Heading & Paragraph Container-->

        <div class="row d-flex justify-content-center">
            <h2 class="pt-5">Portfolio</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, aperiam. Mollitia, obcaecati dicta voluptate odit rerum corporis rem eum corrupti facilis illum in animi neque porro exercitationem amet cum molestias.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, aperiam. 
            </p>
        </div>

         <!--Cards Container-->

        <div class="row cards mb-5 pb-5 d-flex justify-content-center">

          <!--Card 0ne-->
          <div class="col-4">
            <div class="">
            <img class=" w-100" src="https://picsum.photos/300/150?random=1" alt="">
            <h3 class="pt-3 text-primary">Project Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nesciunt consectetur incidunt quisquam vero reiciendis eaque</p>
            </div>
          </div>

          <!--Card Two-->
          <div class="col-4">
            <div class="">
            <img class=" w-100" src="https://picsum.photos/300/150?random=2" alt="">
            <h3 class="pt-3 text-primary">Project Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nesciunt consectetur incidunt quisquam vero reiciendis eaque</p>
            </div>
          </div>

          <!--Card Three-->
          <div class="col-4">
            <div class="">
            <img class=" w-100" src="https://picsum.photos/300/150?random=3" alt="">
            <h3 class="pt-3 text-primary">Project Name</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nesciunt consectetur incidunt quisquam vero reiciendis eaque</p>
            </div>
          </div>

        </div>